<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEMO</title>
</head>
<body>
   <h1>HELLO</h1>
   <h2>How are you</h2>
   <hr>
   <p>s a sea­go­ing torpedo boat, operational between 1914 and 1955. Built as 76 T for the Austro-Hungarian Navy, and armed with two 66 mm (2.6 in) guns and four 450 mm (17.7 in) torpedo tubes, she could carry 10 to 12 naval mines. During World War I she performed convoy, escort and minesweeping tasks, anti-submarine operations and shore bombardment missions. Following Austria-Hungary's defeat in 1918 she and seven other 250t-class boats were allocated to the Royal Yugoslav Navy, as its only modern sea-going vessels. Renamed T1, she was involved in training exercises a</p>
   <p>hhhhhh</p>
</body>
</html>Title